*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	text-align: center;
	margin: 20px;
	size: 10;
	font-size: 175%;
}

h2 {
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid black;
	width: 200px;
	height: 25px;
	font-size: 125%;
}


#chicken
{
	background-color: #f7c0c7;
}
#beef
{
	background-color: #AA0000;
	color: white;
}
#sushi
{
	background-color: #D4DF34;
}


.row {
  width: 100%;
  padding: 10px;
}

.box-design {
	position: relative;
	border: 1px solid black;
	background: #AAAAAA;
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 35px;
}

@media (max-width: 767px)
{
    .col-sm-12
	{
		float: left;
		width: 100%;
	}
}

@media (min-width: 768px)  and (max-width: 991px)
{
	.col-md-6
	{
		float: left;
		width: 50%;
		
	}
	.col-md-12
	{
		float: left;
		width: 100%;		
		
	}
}

@media (min-width: 992px)
{
	.col-lg-4
	{
		float: left;
		width: 33.33%

	}
}